#works{
    min-height: calc(100vh-4rem);
    /* height: 67rem; */
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
    /* overflow: hidden; */
}


.cards{
    /* left:1rem; */
    margin: -4rem -2rem;
    padding-top: 3rem;
  }
  
  

 .cardsHeading{
    display: flex;
    justify-content: center;
    left: 2rem;
    align-items: center;
    margin: 6rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight:600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
 }

